text {
    font: 10px sans-serif;
}


a {
    color: #39c;
    text-decoration: none;
}

a:visited {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #39c;
    text-decoration: none;
}

header, footer {
    padding: 30px;
    width: 270px;
    font-family: sans-serif;
    position: fixed;
    float: left;
}

article {
    text-align: center;
    float:right;
    padding-left: 30px;
    border-left: 1px solid #eee;
}

footer {
    bottom: 50px;
}


#container {
    width: 1080px;
    margin: 0 auto;
}
